.container{
	background-color: #999999;
}

.heading{

	background-color: #2E2E2F;
	margin-bottom: 10px;
	height: 200px;

}

.heading h1{
   color: #B7AE11;
    font-size: 100px;
    margin-top: 55px;
}

.heading a{
   color: white;
}

.heading p{
   color: #E6E6E6;
   text-align: center;
   margin-top: 120px;
}

.simply{
	background: url("/home/justus/Assignments/Selfassesment/Self_Assessments/Assessment1/assets/big_img.jpg");
	height: 500px;
	background-size: cover;
	margin-bottom: 10px;

}
.simply p{
	font-size: 30px;

}

#small_p{
	font-size: 10px;
	
}

.main_post{
	margin-bottom: 10px;
}

.editable{

	margin-bottom: 10px;
}

.tgh{
	margin-bottom: 10px;
	height: 200px;
}

.itgh{
  margin-bottom: 10px;
}

.adspace{
	margin-bottom: 10px;
}

.last_tgh{

	margin-bottom: 10px;
}

footer{

	background-color: #161B26;
}










